::-moz-selection {
  background: #b6b6b6;
  color: red;
}

::selection {
  background: #b6b6b6;
  color: red;
}

html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  line-height: 1em;
  overflow: hidden;
}

body {
  font-family:
    "Comic Sans MS",
    "Comic Sans",
    cursive,
    pple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    antarell,
    "Helvetica Neue",
    sans-serif;
}

header + div {
  display: flex;
}
