header {
  height: 3rem;
  width: calc(100% - 1.6rem);
  position: fixed;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.8rem;
  box-shadow: 0 15px 10px -15px #919191;
  background-color: white;
  z-index: 5;
}

header input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

header a {
  text-decoration: none;
}

ul {
  list-style: none inside none;
  padding: 0;
}

.title {
  font-size: 2.5rem;
  font-family:
  "Laila",
  sans-serif;
}

.title a {
  color: #ff9900;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search form {
  height: 2.25rem;
  display: flex;
  flex-wrap: nowrap;
  border: solid 1px #919191;
  border-radius: 0.3rem;
}

.search input {
  width: calc(25vw + 2px);
  font-size: 0.8rem;
  border: none;
  border-radius: 0.3rem 0 0 0.3rem;
}

.search input:hover {
  cursor: text;
}

.search input:focus {
  width: 25vw;
  border: solid 1px #4529ac;
}

.search button {
  border: none;
  border-left: solid 2px #919191;
  border-radius: 0 0.3rem 0.3rem 0;
}

.search button:hover {
  cursor: pointer;
  background-color: #b6b6b6;
}

.search .fa-microphone {
  margin-left: 0.5rem;
  color: #919191;
  font-size: 1.7rem;
}

.search .fa-microphone:hover,
.control .fa-bell:hover {
  cursor: pointer;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control .circle {
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9900;
  border-radius: 50%;
  margin-left: 2vh;
}

.control .circle:hover {
  cursor: pointer;
  background-color: #b9b8b8;
  transition: background-color 0.5s linear;
}

.control .fa-paw {
  font-size: 0.8rem;
}

.control .fa-bell {
  color: #919191;
}

.submenu-wrapper {
  padding-top: 1.2rem;
  display: none;
  position: absolute;
  right: 1rem;
  top: 3rem;
  width: 10rem;
}

.submenu {
  box-shadow: 0 0 5px 0 #919191;
  background-color: white;
  font-size: 1rem;
  font-family:
  "Comic Sans MS",
  "Comic Sans",
  cursive;
  border-radius: 0.3rem;
}

.submenu li:hover{
  background-color: #b9b8b8;
  cursor: pointer;
}

.submenu li a{
  margin: 0 1rem;
  line-height: 2rem;
  color: black;
  display: flex;
  align-items: center;
}

.submenu li:last-child a{
  color: red;
}

.submenu li a i{
  width: 1.5rem;
}

.submenu li:not(:last-child) {
  border-bottom: solid 2px #b9b8b8;
}

.control li:last-child:hover .submenu-wrapper {
  display: block;
}

.control li:last-child:hover .circle {
  background-color: #b9b8b8;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 1.5rem;
  }
}