main {
  height: calc(100vh - 4.7rem);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: 4.7rem;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

main::-webkit-scrollbar {
  width: 11px;
}

main::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: #f2bf93;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .25) 50%,
                    rgba(255, 255, 255, .25) 75%,
                    transparent 75%,
                    transparent);
}

.filter {
  width: 100%;
  height: 3.2vh;
}

.filter-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0.8rem;
  padding-bottom: 0.454vh;
}

.filter-buttons::-webkit-scrollbar {
  height: 4px;
}

.filter-buttons::-webkit-scrollbar-track {
  background-color: white
}

.filter-buttons::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.filter-buttons li{
  height: 2.5vh;
  border: solid 2px #ff9900;
  border-radius: 1rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-buttons li:first-child{
  background-color: #ff9900;
  color: white;
}

.filter-buttons li:hover{
  background-color: #eeb55f;
  cursor: pointer;
}

.carousel {
	margin: 0 auto;
  padding-top: 5vh;
  margin-bottom: 40vh;
	height: 40vh;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
}

.entire-content {
	margin: auto;
	width: 18vw;
	perspective: 800px;
	position: relative;
	padding-top: 10vh;
}

.content-carousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carousel:hover {
	animation-play-state: paused;
}

.content-carousel figure {
	width: 100%;
	height: 20vh;
	border: 1px solid #3b444b;
  background-color: #c9c9c9;;
	overflow: hidden;
	position: absolute;
}

.content-carousel figure:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

.content-carousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(26vw); 
} .content-carousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(26vw); 
} .content-carousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(26vw); 
} .content-carousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(26vw); 
} .content-carousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(26vw); 
} .content-carousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(26vw); 
} .content-carousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(26vw); 
} .content-carousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(26vw); 
} .content-carousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(26vw); 
} .content-carousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(26vw); 
} 

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.content-carousel .preview {
	width: 70%;
	height: 100%;
}

.content-carousel .preview-img {
  image-rendering: auto;
  transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carousel .live {
  width: 5vh;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.content-carousel .numbers {
  border-radius: 0.2rem;
  font-size: 0.5rem;
  line-height: 0.6rem;
  padding: 0.3rem;
  bottom: -83%;
}

.content-carousel .live + .numbers {
  bottom: -62.5%;
}

@media only screen and (max-width: 1350px) {
  .content-carousel .numbers {
    bottom: -84%;
  }
  
  .content-carousel .live + .numbers {
    bottom: -63%;
  }
}

@media only screen and (max-width: 1275px) {
  .content-carousel .numbers {
    bottom: -83%;
  }
  
  .content-carousel .live + .numbers {
    bottom: -62.5%;
  }
}

.content-carousel .video-information {
  width: 30%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.content-carousel .streamer-info {
  width: calc(100% - 0.6rem);
  padding: 0.3rem;
  display: flex;
  justify-content: space-around;
}

.content-carousel .streamer-avatar {
  height: 2.5vh;
  width: 2.5vh;
}

.content-carousel .streamer-avatar:hover {
  cursor: pointer;
}

.content-carousel .streamer-name {
  font-size: 1rem;
}

.content-carousel .streamer-name:hover {
  color: #ff9900;
  cursor: pointer;
}

.content-carousel .video-title {
  padding: 0.3rem;
  font-size: 0.7rem;
  line-height: 1rem;
}

.content-carousel .video-note {
  padding: 0.3rem;
  font-size: 0.5rem;
  line-height: 0.7rem;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}

.videos {
  width: calc(100% - 1.6rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin: 0.8rem;
}

.video-card {
  height: 20vw;
  min-height: 230px;
  display: flex;
  flex-direction: column;
}

.preview {
  width: 100%;
  height: 80%;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute; 
  z-index: 2;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.527);
  transition: visibility 0s linear .4s, opacity .4s linear;
}

.preview:hover .overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.overlay .fa-paw {
  color: white;
  font-size: 3rem;
}

.preview:hover .overlay .fa-paw,
.live:hover,
.numbers:hover{
  cursor: pointer;
}

.preview-img {
  width: 100%;
  height: 100%;
  position: absolute; 
  z-index: 1;
}

.live {
  width: 7.5vh;
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0.5rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.numbers {
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  line-height: 1rem;
  margin: 0.5rem;
  padding: 0.3rem;
  bottom: -87%;
  float: right;
  text-align: center;
  position: relative;
  z-index: 3;
}

.video-card .live + .numbers {
  bottom: -68.5%;
}

@media only screen and (max-width: 1350px) {
  .video-card .numbers {
    bottom: -84%;
  }
  
  .video-card .live + .numbers {
    bottom: -61.5%;
  }
}

@media only screen and (max-width: 1275px) {
  .video-card .numbers {
    bottom: -83%;
  }
  
  .video-card .live + .numbers {
    bottom: -59.5%;
  }
}

@media only screen and (max-width: 1200px) {
  .video-card .streamer-name {
    display: block;
  }

  .video-card .numbers {
    bottom: -83%;
  }
  
  .video-card .live + .numbers {
    bottom: -57.5%;
  }
}

.video-description {
  height: 20%;
  display: grid;
  grid-template-columns: 0.7fr 4fr 0.3fr;
  grid-template-areas: "avatar info options";
  align-items: center;
  padding: 0.5rem;
}

.video-description .streamer-avatar {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  grid-area: avatar;
}

.video-info {
  width: 20vw;
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.video-description .video-title {
  font-size: 1.25rem;
  line-height: 1.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-info .streamer-name {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #b9b8b8;
}

.video-title:hover, 
.video-info .streamer-name:hover, 
.video-description .streamer-avatar {
  color: #ff9900;
  cursor: pointer;
}

.fa-ellipsis-v {
  grid-area: options;
}

.fa-ellipsis-v:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1050px) {
  .videos {
    grid-template-columns: 1fr 1fr;
  }

  .video-info {
    width: 28vw;
  }
}

@media only screen and (max-width: 767px) {
  .carousel {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .videos {
    grid-template-columns: 1fr;
  }

  .video-info {
    width: 50vw;
  }
}