aside {
  width: 250px;
  height: calc(100vh - 4.7rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 4.7rem;
  background-color: #ff9900;
}

.overflow-container {
  width: 100%;
  height: calc(100vh - 220px);
  overflow-y: hidden;
}
.overflow-container:hover {
  overflow-y: auto;
}

.streams {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
}

.stream-card {
  width: 215px;
  height: 2.9vh;
  background-color: #eeb55f;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 0.75fr 3fr 0.25fr 1fr;
  grid-template-areas: "avatar name dot number";
  justify-content: start;
  align-items: center;
}

.stream-card:hover {
  cursor: pointer;
  background-color: white;
}

.stream-card:first-child {
  margin-top: 0.8rem;
}

.overflow-container::-webkit-scrollbar {
  width: 10px;
}

.overflow-container::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #ff9900;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.overflow-container::-webkit-scrollbar-thumb {
  background-color: white;
  border: solid 1px #ff9900;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.streamer-avatar {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  grid-area: avatar;
}

.streamer-name {
  line-height: 1.5rem;
  grid-area: name;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dot {
  width: 1.2vh;
  height: 1.2vh;
  background-color: rgba(255, 0, 0, 1);
  border-radius: 50%;
  grid-area: dot;
  justify-self: flex-end;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
  }
}

.number-of-viewers {
  grid-area: number;
  justify-self: end;
}

.info {
  width: 100%;
  height: 120px;
  padding: 1rem 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.join {
  line-height: 2rem;
  text-align: center;
}

.socials {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.socials i:hover {
  color: #b6b6b6;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  aside {
    width: 100px;
  }

  .stream-card {
    width: 63px;
    display: flex;
    justify-content: center;
  }

  .streamer-name {
    display: none;
  }

  .dot {
    display: none;
  }
    
  .number-of-viewers {
    display: none;
  }

  .info {
    font-size: 1.2rem;
  }
  
  .join {
    line-height: 1.7rem;
  }

  .socials {
    width: 80%;
  }
  
}